// Globals
//폰트 설정 영문 Roboto 한글 Noto Sans KR
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: local("../assets/fonts/Roboto-Medium.ttf") format("truetype");
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}

$body-font-family: "Roboto", "Noto Sans KR", sans-serif;
